html {
    height: 100%;
}

body { 
    background-color: lightblue !important;
    /* background-image: linear-gradient(to bottom right,  lightyellow, blue 100%); */
    
    height: 100%;
}

#geo {
    background-color: lightpink;
}

.card-title, .card-text{
    font-family: 'Quicksand', sans-serif;
    color: white;

}

.card-title {
    font-weight: bold;
}

#weather {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


#desc {
    text-transform: capitalize;
}




